html, body
{
	margin: 0;
	padding: 0;
	border: 0;
	background: #FBFBFB;
	font-family: "Arial";
	font-size: 10pt;
}

#header
{
	padding: 8px 0 8px 0;
	background: #F3F3F3;
	border-bottom: 1px solid #DFDFDF;
}

#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 8px 0 8px 0;
	background: #F3F3F3;
	border-top: 1px solid #DFDFDF;
}

.container
{
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}